.footer {
  background: #333333;
  margin-top: 92px; 

  .container {
    padding: 8px 0;
  }

  .row {
    color: #ffffff;
  }
  
  .row a {
    color: #ffffff;
    font-weight: normal;
  }

  #footer-faq-link {
    display: inline-block;
    margin-left: 32px;
  }
}
