<div class="doc-header">
  <div class="container">
    <h1>Ways to Give</h1>
  </div>
</div>

<div class="doc-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 name="cc">Donate online with credit card</h2>

        <p><a href='/'>Go to this link</a> to make a secure online donation right now.</p>

        <h2 name="check">Donate by check (USA)</h2>

        <p>
          Please make the check payable to "SIL International". Include your email address and "for Keyman Project" on the memo line. Please send your check to:
        </p>
        <address>
          SIL International<br/>
          7500 W. Camp Wisdom Road<br/>
          Dallas, TX 75236-5629<br/>
          USA
        </address>
      </div>
    </div>
  </div>
</div>
