<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }} <a href="{{ receiptLink }}">Your receipt is available here. </a></div>
<div *ngIf="errorMessage" class="alert alert-error" style="background-color: #ff6363;">{{ errorMessage }}</div>
<form>
<div class="container additional-page">
  <div class="row">
    <div class="col-md">
      <div class="container additional-container">
        <div class="row">
          <div class="col">
            <img alt="keyman logo" src="assets/logo1.png">
          </div>
          <div class="col">
              <img class="heart-image icon-baseline" height="100" width="107" src="assets/heart.svg">
              <img class="heart-image icon-variant" height="100" width="107" src="assets/pixel-heart.svg">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>The Keyman project is run by SIL International, a faith-based nonprofit organization committed to serving language
              communities worldwide as they build capacity for sustainable language development. Keyman is provided completely free
              to allow all communities to type in their own language on computers and mobile devices.
            </p>
            <p>Help us support language communities with Keyman by giving today.</p>
            <img class="sil-logo" height="140" src="assets/sil-logo.png" alt="SIL">
            <p>Created by <a href="https://www.sil.org/">SIL International</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col main-page">
      <div class="container" id="final" *ngIf="model.phase=='final'">
        <div class="row">
          <div class="col">
            <h3>Thanks for helping</h3>
            <div id="success" *ngIf="model.result=='success'">
              <p>Thanks so much for your support. We do appreciate it very much!</p>
            </div>
            <div id="fail" *ngIf="model.result=='fail'">
              <p>Unfortunately we couldn't process your payment on that card. Here's what we know:</p>
              <div class="alert alert-warning">
                <p>Code: {{model.resultCode}}</p>
                <p>Info: {{model.resultMessage}}</p>
              </div>
              <button class="btn btn-primary" (click)="clickRetry()">Retry</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="donate" *ngIf="model.phase!='final'">
        <div class="row">
          <div class="col-8">
            <h3 class="donate-now-header">Donate now</h3>
          </div>
          <div class="col-4">
            <select name="currency" class="form-control currency-dropdown" [(ngModel)]="model.currency" (change)="updateAmounts()">
              <option *ngFor="let c of Currencies.currencyCodes" value="{{c}}">{{c}} &nbsp; {{Currencies.currencies[c].symbol}}</option>
            </select>
          </div>
        </div>
        <div class="row" style="display: none;">
          <div class="col one-time">
            <input type="radio" class="form-control" name="frequency" class="one-time-payment" value="single" [(ngModel)]="model.frequency" (change)="updateAmounts()" id="one-time-payment-undefined">
            <label for="one-time-payment-undefined" class="medium-label-size">One time</label>
          </div>
          <div class="col">
            <input type="radio" class="form-control" name="frequency" class="monthly-payment" value="monthly" [(ngModel)]="model.frequency" (change)="updateAmounts()" id="monthly-payment-undefined">
            <label for="monthly-payment-undefined" class="medium-label-size">Monthly</label>
          </div>
          <div class="col">
          </div>
        </div>
          <div class="row donation-amount-row">
            <div class="col" *ngFor="let n of [0, 1, 2]">
              <label for="pay-{{n}}" class="btn-lg btn-secondary amount-button amount-control" [class.amount-active]="model.paySelection==n">
                <span>{{Currencies.currencies[model.currency].symbol}}{{amounts[n] | units:4}}</span>
                <input type="radio" class="amount-radio" name="pay_selection" value="{{n}}" [(ngModel)]="model.paySelection" id="pay-{{n}}">
              </label>
            </div>
          </div>
          <div class="row donation-amount-row">
            <div class="col-4">
              <label for="pay-3" class="btn-lg btn-secondary amount-button amount-control" [class.amount-active]="model.paySelection==3">
                <span>{{Currencies.currencies[model.currency].symbol}}{{amounts[3] | units:4}}</span>
                <input type="radio" class="amount-radio" name="pay_selection" value="3" [(ngModel)]="model.paySelection" id="pay-3">
              </label>
            </div>
            <div class="col-8">
              <div class="amount-other-container amount-control">
                <!-- <label for="amount-other" class="btn-lg btn-secondary amount-button amount-control" id="amount-other-label"> -->
                  <input type="radio" class="amount-radio amount-control" id="pay-other" name="pay_selection" value="4" [(ngModel)]="model.paySelection">
                    <div class="input-group amount-control">
                      <span class="input-group-addon" id="basic-addon1" [class.amount-active]="model.paySelection==4">{{Currencies.currencies[model.currency].symbol}}</span>
                      <input type="text" class="form-control" name="pay_amount" placeholder="Other amount" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="model.payAmount" (focus)="model.paySelection=4">
                    </div>
                <!-- </label> -->
              </div>
            </div>
          </div>
        <!-- <div class="row error-msg-row hide">
          <div class="full">
            <div id="error-msg">
              <ul id="parsley-id-multiple-donation_amount" class="parsley-errors-list filled">
                <li class="parsley-custom-error-message"></li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="row payment-section">
          <div class="col">
            <h4 class="float-left choose-payment">Pay with credit card</h4>
            <p id="secure-label" class="float-right"><i class="fa fa-lock"></i>
              Secure
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col cc-button">
            <label class="btn-lg btn-primary payment-type-label" for="payment-cc-payment-type" (click)="clickCard()">
              <input type="radio" class="payment-type-radio payment-cc-input" name="payment-type" value="cc" id="payment-cc-payment-type">
              <div>
                <div class="medium-label-size donate-button">Donate</div>
                <div class="payment-logos credit-card-logo"><p >&nbsp;</p></div>
                <div class="medium-label-size less-text">Credit / debit card</div>
              </div>
            </label>
          </div>
          <div class="col pp-button">
            <label class="btn-lg btn-primary payment-type-label" for="payment-pp-payment-type" id="paypal">
              <input type="radio" class="payment-type-radio payment-pp-input" name="payment-type" value="pp" id="payment-pp-payment-type">
              <div>
                <div class="medium-label-size donate-button">Donate</div>
                <div class="payment-logos paypal-logo"><p >&nbsp;</p></div>
                <div class="medium-label-size less-text">Paypal</div>
              </div>
            </label>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Your payment details will be processed by <a href="https://stripe.com/privacy/">Stripe</a>
                   and a record of your donation will be stored by SIL International. <a href='ways-to-give'>Other ways to give</a>.
                </p>
                <p>Contributions go to SIL International Ltd, a 501(c)(3) organization based in Dallas, Texas, to be used in its 
                  discretion for its charitable purposes. They are tax-deductible in the U.S. to the fullest extent permitted by law.
                  All contributions will be directed to the Keyman project.
                </p>
            </div>
        </div>  
      </div> 
    </div>
  </div>
</div>
</form>
<div class="container additional-pay-methods">
    <div class="row">
      <p class="col-md" id="problems-email">
        Problems donating? <a href='/faq'>Visit our FAQ</a> for answers to common questions, or <a href="mailto:donate@keyman.com">send us an email</a>.
      </p>
    </div>
</div>
